:root {
    --bs-lilac: #6f2cf1;
    --bs-lilac-dark: #4e15c2;
    --bs-lilac-light: #e6d4e6;
    --bs-dark-bg: #514574;
    --bs-dark-text: #f8f9fa;
    --bs-dark-card: #514574;
    --bs-green: #618560;
}

/* Tema Dark */
[data-bs-theme="dark"] {
    --bs-body-bg: var(--bs-dark-bg);
    --bs-body-color: var(--bs-dark-text);

    .bg-lilac {
        background-color: var(--bs-lilac-dark) !important;
    }

    .bg-lilac-dark {
        background-color: var(--bs-lilac-dark) !important;
    }

    .card {
        background-color: var(--bs-dark-card);
    }
}

/* Classes de cores personalizadas */
.bg-lilac {
    background-color: var(--bs-lilac);
}

.bg-green {
    background-color: var(--bs-green);
}

.bg-lilac-light {
    background-color: var(--bs-lilac-light);
}

.bg-lilac-dark {
    background-color: var(--bs-lilac-dark);
}

.text-lilac {
    color: var(--bs-lilac);
}

.text-lilac-dark {
    color: var(--bs-lilac-dark);
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(60, 15, 143, 0.15);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

[data-bs-theme="dark"] .card {
    border: 1px solid #453279;
}

.card-header {
    font-weight: 600;
}

/* Cards especiais */
.card-lilac {
    border-top: 4px solid var(--bs-lilac);
}

.card-lilac-dark {
    border-top: 4px solid var(--bs-lilac-light);
}

.btn.bg-lilac:hover {
    background-color: #9452eb;
    color: white;
}

.installment-card .is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

#installments-summary.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

#installments-summary.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

#installments-difference.text-danger {
    color: #dc3545;
}

#installments-difference.text-success {
    color: #28a745;
}

button[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}